<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改开盘池子信息')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-search-edit" th:object="${tokenSearch}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">公链：</label>
                    <div class="col-sm-8">
                        <input name="chain" th:field="*{chain}" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">链号：</label>
                    <div class="col-sm-8">
                        <input name="chainId" th:field="*{chainId}" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">链标志：</label>
                    <div class="col-sm-8">
                        <input name="chainCode" th:field="*{chainCode}" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">${comment}：</label>
                    <div class="col-sm-8">
                        <input name="baseAddress" th:field="*{baseAddress}" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">小数点位数：</label>
                    <div class="col-sm-8">
                        <input name="baseDecimals" th:field="*{baseDecimals}" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">${comment}：</label>
                    <div class="col-sm-8">
                        <input name="pairAddress" th:field="*{pairAddress}" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">${comment}：</label>
                    <div class="col-sm-8">
                        <input name="baseToken" th:field="*{baseToken}" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">${comment}：</label>
                    <div class="col-sm-8">
                        <input name="quoteToken" th:field="*{quoteToken}" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">价值币地址：</label>
                    <div class="col-sm-8">
                        <input name="quoteAddress" th:field="*{quoteAddress}" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">价值币小数位数：</label>
                    <div class="col-sm-8">
                        <input name="quoteDecimals" th:field="*{quoteDecimals}" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">${comment}：</label>
                    <div class="col-sm-8">
                        <input name="tvl" th:field="*{tvl}" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">${comment}：</label>
                    <div class="col-sm-8">
                        <input name="details" th:field="*{details}" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">${comment}：</label>
                    <div class="col-sm-8">
                        <div class="input-group date">
                            <input name="addTime" th:value="${#dates.format(tokenSearch.addTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "system/token/search";
        $("#form-search-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-search-edit').serialize());
            }
        }

        $("input[name='addTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>